{% include "apply/includes/job_applications_filter_export_button.html" %}

<form method="get" action="">

    {% include "apply/includes/job_applications_filter_job_seekers.html" %}

    {% include "apply/includes/job_applications_filter_statut.html" %}
    
    {% include "apply/includes/job_applications_filter_to_siaes.html" %}
    
    {% include "apply/includes/job_applications_filter_sender.html" %}
    
    {% include "apply/includes/job_applications_filter_dates.html" %}
    
    {% include "apply/includes/job_applications_filter_selected_jobs.html" %}
    
    {% include "apply/includes/job_applications_filter_pass.html" %}
    
    {% include "apply/includes/job_applications_filter_eligibility_validated.html" %}
    
    {% include "apply/includes/job_applications_filter_criteria.html" %}

    {% include "apply/includes/job_applications_filter_departments.html" %}

    <button type="submit" class="btn btn-primary">Appliquer</button>
</form>
